body{
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  background-color: rgb(223, 247, 241);
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.contact-card {
  display: flex;
  padding: 12px;
  color: #ffffff;
  background-color: rgb(14, 198, 158);
  box-shadow: 10px 10px 35px -15px rgba(4, 140, 120, 0.856);
  border-radius: 15px;
  max-width: 500px;
  min-width: 430px;
  height: 130px;
  margin: 10px;
}

.contact-card p {
  margin-left: 12px;
  margin-top: 0;
}

img{
  border-radius: 12px;
  box-shadow: 2px 2px 6px #00765ba8;
}

button {
  cursor: pointer;
  background-color: rgb(164, 255, 225);
  margin-left: 12px;
  margin-bottom: 10px;
  padding: 4px 4px;
  border-radius: 8px;
  border-style: none;
  color: #056e5b;
}